header{
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  align-items: center;
}
a{
  color: black;
}
.logo{
  display:flex;
  align-items: center;
}
.logo span{
  color: MediumAquamarine;
}
header nav{
  text-align: right;
  flex-grow: 1;
}
